* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	padding: 20px;
	background-color: #ebebeb;
	font-family: 'Montserrat', sans-serif;
}


.chat-room {
    position: relative;
    height: 100%;
	background-color: #fff;
    border-radius: 10px;
}

#intro {
	/* text-align: center; */
	background-color: #0f4cba;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
}
#intro small{
	color: white;
	font-size: 15px;
	letter-spacing: .1em;
	font-weight: 700;
	display: block;
}
#intro h3{
	color: #fff;
	font-size: 25px;
	letter-spacing: normal;
	font-weight: 700;
}

form {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-top: -10px;
	padding: 5px;
	font-size: 12px;
}

form input {
	background-color: #f1f1f1;
	border: none;
	padding: 10px;
	width: 90%;
	font-size: 14px;
	/* border-top-left-radius: 20px; */
	/* border-bottom-left-radius: 10px; */
	height: 40px;
	/* border: 1px solid #0f4cba; */
}

.first {
    width: 15%;
    display: inline-block;
    /* background: black; */
    height: 20px;
    text-align: left;
}

.second {
    display: inline-block;
    width: 80%;
    text-align: center;
}

input#m {}

form button {
	width: 10%;
	height: 35px;
	background: #0f4cba;
	font-size: 15px;
	font-weight: 700;
	border: none;
	color: #fff;
	cursor: pointer;
	/* border-top-right-radius: 10px; */
	/* border-bottom-right-radius: 20px; */
	height: 40px;
}
.first img {
    height: 50px;
    /* padding: 10px; */
}

#message-area {
    height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (100px + 30px));
    display:block;
	overflow: auto;
}

#messages {
	margin: 0;
	padding: 10px 20px 0;
}

#messages li {
	padding: 10px;
	list-style-type: none;
	width: fit-content;
	border-radius: 20px;
	border-bottom-left-radius: 0;
}

#messages li {
	padding: 10px;
	list-style-type: none;
	width: fit-content;
	border-radius: 20px;
	border-bottom-left-radius: 0;
	margin-bottom: 5px;
	background: #f6f6f6;
	box-shadow: 1px 1px 2px 0px #e3e3e3;
	clear: right;
	font-size: 12px;
}

.list {
	float: right;
	background: #0f4cba !important;
	color: #fff;
	border-radius: 20px !important;
	border-bottom-right-radius: 0 !important;
}

form input::-webkit-input-placeholder , form input:-moz-placeholder { 
	font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
	form {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin-top: -10px;
		padding: 5px;
	}
	form input {
		background-color: #f1f1f1;
		border: none;
		padding: 10px;
		width: 80%;
		font-size: 15px;
		/* border-top-left-radius: 20px; */
		/* border-bottom-left-radius: 10px; */
		height: 40px;
		/* border: 1px solid #0f4cba; */
	}

	.first {
		width: 100%;
		text-align: center;
	}
	.first img {
		height: 50px;
		/* padding: 10px; */
	}
	.second {
		display: none;
	}

	#intro h3 {
		color: #fff;
		font-size: 40px;
		letter-spacing: normal;
		font-weight: 700;
		font-size: 20px;
		margin-top: 15px;
	}
	form button {
		width: 20%;
		height: 35px;
		font-size: 15px;
		background: #0f4cba;
		font-size: 14px;
		font-weight: 700;
		border: none;
		color: #fff;
		height: 40px;
	}
}